:root{
    --cinza: #F0F0F1;
}

.main{
    margin-top: 100px;
}

section{
    height: 300px;
}

body{
    margin: 0px;
    overflow-x: hidden;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
}

html{
    scroll-behavior: smooth;

}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: var(--gradient);
    position: fixed;
    width: 100%;
    z-index: 100;
    
    margin: 0px;
    padding: 10px;
    
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

#div-botoes{
    margin-right: 30px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    
}
.outer-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.div-imagens{
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.comp-img{
    width: 400px;
}
#section-title{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-image: url(./assets/insper.png);
    background-size: cover;  
    border-top: black solid 4px;
    border-bottom: black solid 4px;
    
    
    
}
#section-telas-jogo{
    display: flex;
    flex-direction: column;
    color: white;

    align-items: center;
    justify-content: center;

    padding: 30px;
    height: auto;
    gap: 40px;
}

#section-video{
    background-color: var(--cinza);
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding: 20px;
    padding-bottom: 40px;

}
iframe{
    border: black solid 8px;
    border-radius: 5px;
}

#section-download{
    padding-left: 60px;
    padding-right: 60px;

    color: aliceblue;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}

#section-logs{
    padding: 60px;
   
    background-color: var(--cinza);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 20%;
    height: auto;

}

#section-heuristica {
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: auto;
    gap: 10%;
    padding: 40px;
}

footer{
    background-color: #8a8a8a;
    height: 150px;
}

.icone{
    width: 150px;
    height: 150px;
}

button{
    border: black solid 4px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#texto{

    background: rgba( 255, 255, 255, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: auto;
    padding: 30px;
    margin: 40px;
}

h1{
    font-weight:900;
    font-size: xx-large;
}

li{
    margin: 8px;
}

.div-icones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-icones2{
    align-self: flex-start;
    height: auto;
    display: flex;
    justify-content:right;
    align-items:flex-start;
    flex-direction: column;
}

/* http://www.retromancers.com/retro/ */
/* https://marchettomarcelo.github.io/pygame/ */

:root {
  --gradient: linear-gradient(45deg, purple, rgb(220, 20, 52), blue);
}

body {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-anim 20s infinite alternate;
}

@keyframes bg-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a {   
    color: white;   
}

a:active {
    color: white;
}

a[tabindex]:focus {
    color:blue;
    outline: none;
}

#section-maps{
    
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
}

#section-antes-depois{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 80px;
    
}

.map{
    border: solid black 4px;
    height: auto;
    width: auto;
    border-radius: 4px;
}

.comparacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
    margin: 20px;
    
}